.FileImport-File {
    display: none;
}

.FileImport-Wrapper {
    text-align:center;
}

.FileImport-FileName {
    width: 100%;
}

.FileImport-Button {
    width: 100%;
    box-shadow: 0px -5px 20px 0px rgba(0,0,0,0.7);
    border-radius: 10px 10px 0px 0px;
}