.Results-Title {
    text-align: center;
    margin-bottom: 1em;
    font-weight: bolder;
}

.Results-ChartWrapper {
    margin: 1em 0em;
    padding: 1em;
    background-color:#b7d6a0;
}

.Results-ChartWrapper.disabled {
    background-color:#d8d8d8;
}