.App {
  display: inline-flex;
  width: 100vw;
  /* height: 100vh; */
}

.App-MainFlexBox {
  width: 100%;
}

.App-DataImport {
  min-width: 310px;
  max-width: 350px;
  padding: 1em;
}

.App-FilePreview {
  height: 20vh;
}

.App-CalculateButton {
  width: 100%;
  margin-top: 2em;
}

.App-ResultsDisplayAndExport {
  width: 70%;
  /* height: 90vh; */
  padding: 1em 1em 1em 0em;
}